#map {
align:left;
height: 70%;
width: 60%;
border: 2px solid black;
}

#myform {
    position: fixed;
    align: left;
    margin-bottom: 160px;
    margin-right: 60px;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.btn {
    background-color:yellow;
    cursor:pointer;
    margin-top:4px;
    text-align:center;
}

html,
body {
height: 100%;
margin-top: 0px;
background-color: gray;
}

#legend {
font-family: Arial, sans-serif;
background: #fff;
padding: 5px;
margin: 5px;
border: 2px solid #000;
}

#legend h3 {
margin-top: 0;
}

#legend img {
vertical-align: middle;
}


ul.top {
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color: #333;
position:static;
top:0;
width:100%;
}

li.top {
float:left;
}

li.top.label {
font-size: 17px;
display: block;
color: white;
margin: auto;
text-align:center;
text-decoration: none;
}

li.top a {
font-size: 17px;
padding-top: 14px;
display: block;
background-color: #333;
color: white;
text-align: center;
padding: 9px 15px;
text-decoration: none;
}

li.top a:hover:not(.active) {
background-color:#333;
color: #D2EE87;
}

.active {
background-color: white;
color:#D2EE87;
}


.switch {
position: relative;
display: inline-block;
width: 30px;
height: 10px;
}

.switch input {
opacity:0;
width:0;
height:0;
}

.slider {
position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background-color: #ccc;
-webkit-transition:.4s;
transition: .4s;
}

.slider:before {
position:absolute;
content:"";
height:16px;
width:16px;
left:0px;
bottom:0px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3
}

input:checked + .slider:before {
-webkit-transition: translateX(0px);
-ms-transform: translateX(0px);
transform: translateX(0px);
}

.slider.round {
border-radius:0px;
}

.slider.round:before {
border-radius:50%;
}

#description {
font-family: Roboto;
font-size: 15px;
font-weight: 300;
}

#infowindow-content .title {
font-weight: bold;
}

#infowindow-content {
display: none;
}

#map #infowindow-content {
display: inline;
}

.pac-card {
margin: 10px 10px 0 0;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
background-color: #fff;
font-family: Roboto;
}

#pac-container {
padding-bottom: 12px;
margin-right: 12px;
}

.pac-controls {
display: inline-block;
padding: 5px 11px;
}

.pac-controls label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}

#pac-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
margin-left: 12px;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 400px;
}

#pac-input:focus {
border-color: #4d90fe;
}

#title {
color: #fff;
background-color: #4d90fe;
font-size: 25px;
font-weight: 500;
padding: 6px 12px;
}

#target {
width: 345px;
}

.open-button {
background-color: gray;
color: white;
padding: 16px 10px;
border: none;
cursor: pointer;
opacity: 0.8;
position: fixed;
bottom: 200px;
right: 200px;
width: 250px;
}

.form-popup {
display: none;
position: absolute;
bottom: 0;
right: 15px;
border: 3px solid black;
z-index: 9;
}

.form-container {
max-width: 300px;
padding: 10px;
background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

.form-container .btn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

.form-container .cancel {
background-color: red;
}

.form-container .btn:hover, .open-button:hover {
opacity: 1;
}
